:root {
    /* APT Colors */
    --color-primary-dark: #285391;
    --color-primary: #3F84E6;
    --color-primary-light: #8CB5F0;
    --color-primary-lighter: #C5DAF8;
    --color-primary-lightest: #D9E6FA;
    --color-primary-faintest: #F3F8FE;
    --color-error: #E36360;
    --color-error-light: #F1B5B5;
    --color-neutral: #F9FAFC;
  }

